.nome-pesquisa label {
  color: #414651;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.nome-pesquisa textarea {
  border: 1px solid #D9D9D9;
  border-radius: 8px !important;
}

.text-disponivel {
  color: #4E5666;
  font-size: 12px;
  font-weight: 400px;
  line-height: 22px;
}

.row {
  border-top: 1px solid #CCCCCC;
  margin-top: 30px;
}

.row a {
  margin-top: 20px;
}

.data-value::placeholder {
  color: #717680;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.alinhar-disponivel {
  display: flex !important;
  align-items: center;
}

.opcoes_enviar_para legend {
  color: #1E1E1E;
  font-size: 12px;
  font-weight: 500;
}

.opcoes_enviar_para label {
  color: #1E1E1E;
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 390px) {
  .botao-gigante a {
    text-align: center;
    max-width: 360px;
    width: 100%;
    padding: 14px 0;
  }
}