header h5 {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 20px;
}

.dados-centralizados h1 {
  color: #18181B; 
  font-size: 20px;
  font-weight: 600;
}

.border-dados-pesquisa p {
  color: #777777; 
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 15px;
}

.dados-evento {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 35px;
}

.formulario-dados {
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-top: 20px;
  padding: 35px 35px 30px 35px;
}

.formulario-dados .row {
  padding: 0 20px;
}

.texto-pergunta span:first-child {
  margin-right: 5px;
}

.formulario-dados span {
  margin-bottom: 0 !important;
}

.rating {
  margin-top: 20px;
}

.comentario {
  background-color: #FFFFFF !important;
  border-radius: 15px;
  margin-top: 20px !important;
  margin-bottom: 0 !important;
  padding: 35px 35px 15px 35px;
}

.comentario label {
  color: #1E1E1E;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 15px;
}

@media (max-width: 390px) {
  .dados-evento {
    padding: 20px;
  }
  
  .container-avaliacao-apresentacao {
    padding: 0 !important;
  }
  .container-avaliacao-apresentacao .row {
    padding: 0 !important;
  }
  
  .header-avaliacao {
    flex-direction: row !important;
  }
  
  .dados-avaliacao {
    padding: 8px 15px !important;
  }
  
  .formulario-dados {
    padding: 20px;
  }
  
  .star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .textarea {
    padding: 20px;
  }
  
  .botao-gigante button {
    text-align: center;
    width: 100%;
    max-width: 360px;
    padding: 14px 0;
  }
}